export(apsrtable,modelInfo,se.note,stars.note,apsrtableSummary)
S3method(print,apsrtable)
S3method(coef,model.info)
S3method(apsrtableSummary,gee)
S3method(apsrtableSummary,coxph)
S3method(apsrtableSummary,clogit)
